In [1]:
import pickle
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import load_model

2025-08-22 23:07:16.834529: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
# Load the Trained Model and All the Pickle Files 

Model = load_model('Model.h5')

# Loading the Pickle files
with open('Label_Encoder_Gender.pkl','rb') as file:
    Encoded_Gender = pickle.load(file)

with open('OHE_Geography.pkl','rb') as file:
    Encoded_Geography = pickle.load(file)

with open('Scaler.pkl','rb') as file:
    Scaler = pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
input_data = {
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':600000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [4]:
Geo_Encoded = Encoded_Geography.transform([[input_data['Geography']]]).toarray()
Geo_Encoded_df = pd.DataFrame(Geo_Encoded,columns=Encoded_Geography.get_feature_names_out(['Geography']))

/Users/joshua/Desktop/Immanuel/Deep Learning/ANN/venv/lib/python3.11/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [5]:
Geo_Encoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [6]:
input_df = pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,600000,2,1,1,50000

In [7]:
input_df['Gender'] = Encoded_Gender.transform(input_df['Gender'].values)
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,600000,2,1,1,50000

In [8]:
# Concatination
input_df = pd.concat([input_df.drop('Geography',axis=1),Geo_Encoded_df],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,600000,2,1,1,50000,1.0,0.0,0.0

In [9]:
input_scaled = Scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349,  8.38812313,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [10]:
Prediction = Model.predict(input_scaled)
Prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 95ms/step

array([[0.93571925]], dtype=float32)